@use 'base/mixins' as m;
@use 'base/variables' as v;

.nav-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0;
    @include m.tablet {
        flex-direction: row;
        margin: 0;
    }

    a{
        color: v.$blanco;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        transition: color .2s;
        &:hover{
            color: v.$secundario;
        }
        &.activo{
            color: v.$secundario;
        }
    }
}