@use 'base/variables' as v;
@use 'base/mixins' as m;

.proceso-cafe{
    margin-bottom: 7rem;
    &:last-of-type{
        margin-bottom: 0;
    }
    @include m.desktop {
        display: flex;
        gap: v.$separacion;
        align-items: center;

        &:nth-child(even){ // con even seleccionamos todos los que son numeros pares
            // con odd se selecciona los impares para aplicarles estilos o ordenarlos. Siempre y cuando el contenedor padre tenga un displa flex o grid
            .texto{
                order: -1; // order se utiliza cuando hay un display flex como padre
            } // cuando ponemos el valor de -1 garantizamos de que el contenedor se ponga primero que todos
        }
    }

    .imagen,
    .texto{
        flex: 1;
    }
}

.texto{
    margin-top: 2rem;
    text-align: left;
    h3{
        text-align: left;
        margin: 0;
        color: v.$primario;
        font-size: 2.5rem;
        font-weight: 300;
        &::after{
            content: '';
            display: block;
            height: 3px;
            width: 50%;
            background-color: v.$secundario;

            @include m.tablet { 
                width: 25rem;
            }
        }
    }

}